@model Repo_PMS.Models.ChangePasswordVM


@if (TempData.ContainsKey("Message"))


{
    <script type="text/javascript">
        alert('@TempData["Message"]');
    </script>
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change Password</title>
</head>
<body>


    <div class="container justify-content-center col-6">

        <form asp-action="ChangePassword">
            <h4 class="justify-content-center">Change Password </h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OldPassword" class="control-label"></label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPasswod" class="control-label"></label>
                <input asp-for="NewPasswod" class="form-control" />
                <span asp-validation-for="NewPasswod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

    </div>

</body>
</html>
