@model Repo_PMS.Models.RoleDetail


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Role</title>
</head>
<body>


<hr />
<div class="container justify-content-center col-6">
    
        <form asp-action="AddRole">

            <h4 class="justify-content-center">RoleDetail</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group m-4">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group m-4">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            
            <div class="form-group m-4">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>



</body>
</html>
