
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Homepage</title>
</head>
<body>

    <div class="container justify-content-center col-6">

        <h3>Welcome Admin/HR To OPMS Portal</h3>


    </div>



</body>
</html>