@if (TempData.ContainsKey("Message"))
{
    <script type="text/javascript">
        alert('@TempData["Message"]');
    </script>
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h1>Welcome to User Page</h1>


</body>
</html>
